.signup {
    margin: 70px auto;
    padding: 40px;
    width: 400px;
    height: auto;
    float: center;
    font-size: 20px;
    box-sizing: border-box;
  
    position: relative;
    border-radius: 8px;
  
    background-color: rgb(80, 110, 79);
  }
  
  .signUpBtn {
    width: 100%;
    height: 40px;
    text-align: center;
    color: #eef3f5;
    font-size: 25px;
    background: rgb(223, 102, 81);
    border: none;
    border-radius: 5px;
    line-height: 10px;
    font-weight: bold;
    cursor: pointer;
  }
  .myform {
    position: absolute;
    top: -25px;
    background-color: rgb(187, 118, 53);
    margin-left: 90px;
    padding: 10 10px;
    font-family: monospace;
    font-size: 17px;

  }
  .form {
    width: 100%;
    margin-bottom: 8px;
    height: 30px;
    
  }
  .id {
    font-weight: 700;
    font-size: 22px;
    text-transform: capitalize;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
  }
  .inputField {
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    font-size: 15px;
    outline: none;
  }
  .logIn {
    margin: 70px auto;
    padding: 40px;
    width: 400px;
    height: auto;
    float: center;
    font-size: 20px;
    box-sizing: border-box;
    position: relative;
    border-radius: 8px;
  
    background-color: rgb(146, 128, 100);
    box-shadow:opacity(100%) 5px 5px black opacity(100%);
  }
  .loginBtn {
    width: 100%;
    height: 40px;
    text-align: center;
    color: #2e2e29;
    font-size: 25px;
    background: rgb(236, 104, 43);
    border: none;
    border-radius: 5px;
    line-height: 10px;
    font-weight: bold;
    cursor: pointer;
  }
  